:root {
    /* Base colors */
    --black: rgba(30, 30, 30, 1);
    --white: rgba(255, 255, 255, 1);
    --background: rgb(215, 215, 215);
    --color-border: rgb(235, 235, 235);
    /* --color-border: rgba(135, 135, 135, 1); */


    /* Font families */
    --font-family: Helvetica, Arial, sans-serif;

    /* Font sizes */
    --font-size: 18px;

    --default-spacing: 5px;
  }

  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: var(--color-secondary);
    /* scroll-behavior: smooth; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  *::selection {
    background: var(--grey);
  }

 body {
    margin: 0;
    padding:0;
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--black);
    background-color: var(--background);
    overscroll-behavior-y: none;
  }

  .shopify-buy__product__actual-price {
    font-size: var(--font-size);
  }

  .shopify-buy__btn {
    font-size: var(--font-size);
  }

  .shopify-buy__option-select__select {
    font-size: var(--font-size);
  }

  .shopify-buy__product__title {
    font-size: var(--font-size);
    margin-top: var(--default-spacing);
    margin-bottom: var(--default-spacing);
  }

  .shopify-buy__product__price {
    font-size: var(--font-size);
    margin-top: var(--default-spacing);
    margin-bottom: var(--default-spacing);
  }

  .shopify-buy__option-select-wrapper {
    font-size: var(--font-size);
    margin-top: var(--default-spacing);
    margin-bottom: var(--default-spacing);  
  }

  .shopify-buy__btn-wrapper {
    font-size: var(--font-size);
    margin-top: var(--default-spacing);
    margin-bottom: var(--default-spacing);
  }

  .shopify-buy__product__variant-selectors {
    font-size: var(--font-size);
    margin-top: var(--default-spacing);
    margin-bottom: var(--default-spacing);
  }